= unsemantic_nested_form_for @user do |f|
  = f.input :email
  = f.input :keep_notified, label: 'Keep me notified', hint: 'Allow Now Play Us to send occasional updates on new features and functionality.'
  = f.time_zone_select :time_zone, @time_zones

  %fieldset.platform-accounts
    %legend Platform Accounts
    = f.fields_for :platform_accounts do |paf|
      = paf.collection_select :platform_id, @platforms, :id, :name, label: 'Platform'
      = paf.input :username
      = paf.link_to_remove 'Remove Platform Account'
    = f.link_to_add 'Add a Platform Account', :platform_accounts

  %fieldset.form-actions
    = f.button :submit
    = link_to 'View Profile', @user, class: 'button button-info'
    = link_to 'Cancel', users_path, class: 'button button-danger'