= simple_nested_form_for @user do |f|
  %fieldset
    = f.input :username, input_html: { class: 'form-text' }
  %fieldset
    = f.input :email, input_html: { class: 'form-text' }
  %fieldset
    = f.input :password, label: 'Change Your Password', input_html: { class: 'form-text' }
  %fieldset
    = f.input :password_confirmation, input_html: { class: 'form-text' }

  %fieldset
    %legend Platform Accounts
    = f.fields_for :platform_accounts do |paf|
      = paf.collection_select :platform_id, Platform.select('id,name').all, :id, :name, label: 'Platform'
      = paf.text_field :username
      = paf.link_to_remove 'Remove Platform Account'
    = f.link_to_add 'Add a Platform Account', :platform_accounts

  %fieldset.form-actions
    = f.button :submit