%h2
  = link_to image_tag(@user.avatar_url), '#', class: 'avatar'
  = @user.username
= simple_nested_form_for @user do |user_form|
  .row
    .large-6.columns
      .panel.radius
        = user_form.input :email, placeholder: 'your@email.com'
        %p= user_form.input :send_newsletter, label: 'Let us send occasional updates. No spam!', label_class: 'left', input_html: { class: 'left' }
        = user_form.input :time_zone, priority: @time_zones, label: content_tag(:span,tooltip("Time Zone", "#{site_name} displays times in your time zone when logged in", class: 'tip-top'))
    .large-6.columns
      .panel.radius
        = user_form.input :bio, placeholder: 'About you...'

  .row
    .large-4.columns
      = user_form.button :submit, 'Save Profile', class: 'button radius expand success'
