#profile.row
  %section.columns.large-6
    .panel.radius#user
      .row
        .small-2.columns= link_to image_tag(@user.avatar_url), '#', class: 'avatar'
        .user-details.small-10.columns
          %h3= @user.username
          .user-bio
            = markdown_format(@user.bio) unless @user.bio.nil?
      .row.stats
        %ul#stats.small-block-grid-4
          %li
            %h2.text-center=@user.hosted_events.count
            %h5.text-center Hosted
          %li
            %h2.text-center=@user.participants.count
            %h5.text-center Joined
          %li
            %h2.text-center=@user.event_tweets.count
            %h5.text-center Tweets
          %li
            %h2.text-center=@user.comments.count
            %h5.text-center Comments
  %section#platforms-games.columns.large-6
    .panel.radius#platforms
      %h5 Game Accounts
      %ul.small-block-grid-2
        - @platform_accounts.each do |account|
          %li
            .row
              .columns.small-3= image_tag("#{account.platform.name.downcase}-on.png")
              .columns.small-9= account.username

    - if @past_events.length > 0
      .panel.radius#games=render "events/recent_events", :events => @past_events


- if @future_events.length > 0
  - @ical_link = link_to content_tag(:i,'',class: 'block ss-alarmclock'), user_url(@user, :protocol => 'webcal', :format => :ics, '' => Time.now.to_i)
  =render "events/upcoming_events", :events => @future_events, :ical_link => @ical_link