#profile.row
  %section.columns.large-12
    .panel.radius.callout#user
      .row
        .avatar.small-4.columns= image_tag(@user.avatar_url)
        .user-details.small-8.columns
          %h1= @user.username
          %ul
            - @user.authentications.each do |auth|
              %li
                %p= render partial: "authentications/#{auth.provider}", locals: { username: auth.nickname }
      .row
        .user-bio.large-12.columns
          = markdown_format(@user.bio) unless @user.bio.nil?
.row
  %section#platforms.columns.large-6
    .panel.radius
      %h2 Platform Profiles
      %ul.small-block-grid-4
        - @platform_accounts.each do |account|
          %li
            %figure
              = image_tag("#{account.platform.name.downcase}-on.png")
              %figcaption.text-center #{account.username}
  %section#stats.columns.large-6
    .panel.radius
      %h2 Stats

      %ul.small-block-grid-4
        %li
          %h2.text-center=@user.hosted_events.count
          %h5.text-center Hosted
        %li
          %h2.text-center=@user.participants.count
          %h5.text-center Joined
        %li
          %h2.text-center=@user.event_tweets.count
          %h5.text-center Tweets
        %li
          %h2.text-center=@user.comments.count
          %h5.text-center Comments
- if @past_events.length > 0
  .row
    %section#games.columns.large-12
      .panel.radius
        %h3 Recent Games
        - @past_events.each do |event|
          - if !event.game.nil?
            %figure
              - if event.game
                =link_to game_path(event.game) do
                  - if event.game.icon_url
                    %img.game{src: event.game.icon_url, title: event.game.name}
                  - else
                    %img{src: "/assets/lost-img.png", title: event.game.name}

                  %figcaption.text-center
                    =event.game.name.truncate(33) unless event.game.nil?
- if @future_events.length > 0
  .row
    %section.events-header.columns.small-6
      %h4
        Upcoming Events
    .small-6.columns.text-right
      %h4
        Subscribe via iCal
        = link_to content_tag(:i,'',class: 'block ss-alarmclock'), user_url(@user, :protocol => 'webcal', :format => :ics, '' => Time.now.to_i)

  %section.events
    - @future_events.each do |event|
      = render event
