#profile.grid-container
  %section#user.grid-50.mobile-grid-100
    .avatar= image_tag(@user.avatar_url)
    .user-details
      %h1= @user.username
      %p 
        - @user.authentications.each do |auth|
          = render partial: "authentications/#{auth.provider}", locals: { user: @user, authentication: auth }
      %p Bacon ipsum dolor sit amet chuck ham hock bresaola pig ball tip rump. Jowl tri-tip ribeye, biltong pork loin beef ribs corned beef.

  %section#platforms.grid-50.mobile-grid-100
    %h2 Platform Profiles
    
    - @platform_accounts.each do |account|
      %figure.grid-25
        = image_tag("#{account.platform.name.downcase}-on.png")
        %figcaption #{account.username}

  %section#stats.grid-50.mobile-grid-100
    %h2 Stats

    %ul
      %li.grid-25 
        00
        %span Hosted
      %li.grid-25
        00
        %span Joined
      %li.grid-25
        00
        %span Watched
      %li.grid-25
        00
        %span Groups

  %section#games.grid-50.mobile-grid-100
    %h2 Recent Games

    / Fake data
    %figure.grid-25
      %img.xbox{src: "http://placehold.it/100x100"}
      %figcaption Borderlands 2
    %figure.grid-25
      %img.ps{src: "http://placehold.it/100x100"}
      %figcaption Call of Duty: Black Ops 2
    %figure.grid-25
      %img.steam{src: "http://placehold.it/100x100"}
      %figcaption Halo 4
    %figure.grid-25
      %img.pc{src: "http://placehold.it/100x100"}
      %figcaption League of Legends

- if @future_events.length > 0
  %h3 Future Events
  %h1
    LOLWUT?! HI I'm an ICAL FEED!!
    = link_to 'Ical Feed', user_events_url(@user, :format => :ics, '' => Time.now.to_i)
    NO WE CAN WIN ZEE MATCHES FOR JOY!
  %section.events
    - @future_events.each do |event|
      = render event
