#profile.grid-container
  %section#user.grid-50.mobile-grid-100
    .avatar= image_tag(@user.avatar_url)
    .user-details
      %h1= @user.username
      %p
        - @user.authentications.each do |auth|
          = render partial: "authentications/#{auth.provider}", locals: { user: @user, authentication: auth }
      %p Bacon ipsum dolor sit amet chuck ham hock bresaola pig ball tip rump. Jowl tri-tip ribeye, biltong pork loin beef ribs corned beef.

  %section#platforms.grid-50.mobile-grid-100
    %h2 Platform Profiles

    - @platform_accounts.each do |account|
      %figure.grid-25
        = image_tag("#{account.platform.name.downcase}-on.png")
        %figcaption #{account.username}

  %section#stats.grid-50.mobile-grid-100
    %h2 Stats

    %ul
      %li.grid-25
        =@user.hosted_events.count
        %span Hosted
      %li.grid-25
        =@user.participants.count
        %span Joined
      %li.grid-25
        =@user.event_tweets.count
        %span Tweets
      %li.grid-25
        =@user.comments.count
        %span Comments

  %section#games.grid-50.mobile-grid-100
    %h2 Recent Games

    / Fake data
    %figure.grid-25
      %img.xbox{src: "http://placehold.it/100x100"}
      %figcaption Borderlands 2
    %figure.grid-25
      %img.ps{src: "http://placehold.it/100x100"}
      %figcaption Call of Duty: Black Ops 2
    %figure.grid-25
      %img.steam{src: "http://placehold.it/100x100"}
      %figcaption Halo 4
    %figure.grid-25
      %img.pc{src: "http://placehold.it/100x100"}
      %figcaption League of Legends

#user-future-events.grid-container
  - if @future_events.length > 0
    %h3.grid-50
      Upcoming Events
    %h3.grid-50.alignright
      Subscribe via
      = link_to 'Ical', user_url(@user, :protocol => 'webcal', :format => :ics, '' => Time.now.to_i)

    %section.events.grid-100
      - @future_events.each do |event|
        = render event
