.contain-to-grid
  %nav#menu.top-bar
    %ul.title-area
      %li.name
        %h1
          = link_to image_tag("now-play-us-logo.png", alt: 'Now Play Us'), root_url
      %li.toggle-topbar.menu-icon
        =link_to content_tag(:span, 'Menu'), '#'
    %section.top-bar-section
      %ul.right
        - if logged_in?
          %li
            = link_to user_path(current_user), title: "Profile" do
              %img.avatar{ src: current_user.avatar_url }
              Profile
          %li
            = link_to new_event_path, title: 'Add Event' do
              %i.ss-icon.ss-standard.ss-calendaradd
          %li
            = link_to edit_user_path(current_user), title: 'Settings' do
              %i.block.ss-settings
          %li
            = link_to logout_path, title: 'Log Out' do
              %i.block.ss-power
        - else
          %li
            = link_to '/auth/twitter' do
              Log in with Twitter
              %i.foundicon-twitter
      %ul.left
        %li= link_to "Blog", "http://blog.nowplay.us"
        %li= link_to "Events", events_path
