%article.event{ class: (current_user == event.host ? 'mine' : 'theirs')}
  .large-1.small-2.columns.schedule= render partial: 'events/schedule', locals: { event: event }
  .small-8.columns.description= render partial: 'events/description', locals: { event: event }
  .large-1.small-2.columns.host= link_to image_tag(event.host_avatar_url), user_path(event.host)
  .small-1.columns.total_players= "#{event.player_count}/#{event.total_players}"
  = render partial: 'events/tweet', locals: { event: event }