%article.event{ class: (current_user == event.host ? 'mine' : 'theirs')}
  .grid-70
    .schedule.grid-10= render partial: 'events/schedule', locals: { event: event }
    .description.grid-90= render partial: 'events/description', locals: { event: event }
  .players.grid-30  
    .host.grid-33= link_to image_tag(event.host_avatar_url), user_path(event.host)
    .slots.grid-33= "#{event.slots_filled}/#{event.slots}"
    .promote.grid-33 TWEET