  <%= form_for([@user, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <span class="span6">
      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title %>
      </div>
    </span>

    <span class="span6">
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </div>
    </span>
  </div>

  <div class="row">
    <span class="span6">
      <div class="field">
        <%= f.label :starts_at_raw %><br />
        <%= f.text_field :starts_at_raw %>
      </div>
    </span>

    <span class="span6">
      <div class="field">
        <%= f.label :duration_raw %><br />
        <%= f.text_field :duration_raw %>
      </div>
    </span>
  </div>


  <div class="field">
    <%= f.label :slots %><br />
    <%= f.select :slots, (1..10).to_a %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <% end %>
