= simple_form_for @event do |f|
  .panel.radius
    = f.input :game_id, as: :hidden, input_html: { class: 'bigdrop' }
    .row
      .large-6.columns
        %p= f.input :starts_at_raw, label: 'Start Time', placeholder: 'Eg: Tonight 8pm', required: true
      .large-6.columns
        %p= f.input :duration_raw, label: 'Duration', placeholder: 'Eg: 2 Hours', required: true
    .row
      .large-6.columns
        %p= f.input :platform_id, collection: Platform.select('id,name').all, include_blank: true
      .large-6.columns
        %p= f.input :total_players, collection: 2...19, label: 'How many players?'
    %p= f.input :description, label: 'Additional Information'
  .panel.radius
    %h4 Notifications
    %p= f.input :notify_host, label_class: 'left', input_html: { class: 'left' }, label: 'Notify me when a player joins'
    %p
      = render partial: 'shared/twitter_follow'
      %br
      %small= raw "Make sure you follow @#{site_name} on Twitter to receive Direct Message notifications."
  .row
    .large-4.columns.large-offset-4
      = f.button :submit, 'Schedule', class: 'button radius expand'