= unsemantic_form_for [@user, @event] do |f|
  = f.input :title, label: 'Game Title', placeholder: 'Eg: Borderlands 2, Halo 4', input_html: { class: 'form-text' }
  %fieldset
    = f.label "Platform", required: true
    = f.collection_select :platform_id, Platform.select('id,name').all, :id, :name, include_blank: true, label: 'Platform'
  = f.input :starts_at_raw, label: 'Start Time', placeholder: 'Eg: Tonight 8pm', input_html: { class: 'form-text' }, required: true
  = f.input :duration_raw, label: 'Duration', placeholder: 'Eg: 2 Hours', input_html: { class: 'form-text' }, required: true
  = f.input :description, label: 'Additional Information'
  = f.input :slots, collection: 1..10, label: 'Number of Players', input_html: { class: 'form-text' }
  %fieldset.form-actions
    = f.button :submit
    = link_to 'Cancel', user_path(@user), class: 'button button-danger'
