  <%= form_for([@user, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <span class="span6">
      <div class="field">
        <%= f.label :title, "Game title" %>
        <%= f.text_field :title, :placeholder => "Eg: Borderland 2, Halo 4"  %>
      </div>
    </span>


    <span class="span6">
      <div class="field">
        <%= f.label :platform %>
        <%= f.text_field :platform, :placeholder => "Eg: XBOX, PS3" %>
      </div>
    </span>
  </div>

  <div class="row">
    <span class="span6">
      <div class="field">
        <%= f.label :starts_at_raw %>
        <%= f.text_field :starts_at_raw, :placeholder => "Eg: Tonight 8pm" %>
      </div>
    </span>

    <span class="span6">
      <div class="field">
        <%= f.label :duration_raw %>
        <%= f.text_field :duration_raw, :placeholder => "2 Hours"  %>
      </div>
    </span>
  </div>

  <div class="row">
    <span class="span12">
      <div class="field">
        <%= f.label :description, "Additional Information" %>
        <%= f.text_area :description  %>
      </div>
    </span>
  </div>

  <div class="field">
    <%= f.label :slots, "Number of Players" %>
    <%= f.select :slots, (1..10).to_a %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <% end %>
