<div class="row">
	<span class="span12">
	<table class="events">
		<% @events.each do |event| %>
		<tr class="event">
			<td class="date">
				<span class="date"><%= event.starts_at.strftime('%e') %></span>
				<span class="day"><%= event.starts_at.strftime('%a') %></span>
			</td>
		  <td class="description">
				<a href="<%= user_event_path(event.user, event) %>">
		    <h2 class="game"><%= event.title %> (<%= event.platform %>)</h2>
		    <span class="time"><%= (event.starts_at).strftime('%I:%M%p') %>
					<% if !event.duration.nil?  %>
						 - <%= (event.starts_at+event.duration).strftime('%I:%M%p') %>
					<% end %>
					<%= (event.starts_at).strftime('%Z') %>
		    </span>
				</a>
		  </td>
		  <td class="host">
		    <%= link_to "HOST", user_event_path(@user, event) %>
		  </td>
		  <td class="slots">
		  	 <%= event.slots_filled %> / <%= event.slots %>
		  </td>
		  <td class="promote">
		  	TWEET
		  </td>
		</tr>
		<% end %>
	</table>
	</span>
</div>