%section.events
  = render @event
  .event-details.row{ class: @event_owner}
    %nav.large-2.columns.half-padding
      = link_to 'Events', @event.host, class: 'small radius button expand'
      - if @event.host == current_user
        = link_to "Cancel Event", @event, confirm: "Are you sure?", method: :delete, class: 'button small  radius expand'
      - else
        = render partial: 'participate', locals: { event: @event } unless @event.past?
      = render partial: 'tweet', locals: { event: @event }

    .large-10.columns
      %h2
        %span.with w/
        = link_to @event.host_name, user_path(@event.host_name)

      = markdown_format(@event.description) if @event.description.present?


      %section.roster.row
        .large-6.columns
          %h3 Joining
          = render partial: 'player_list', locals: { players: @event.team_players, event: @event }
        .large-6.columns
          %h3 Pending
          = render partial: 'player_list', locals: { players: @event.bench_players, event: @event } if @event.bench_players.present?
          = content_tag :p, 'Bench is empty' if @event.bench_players.blank?

      = render partial: 'comments/list', locals: { comments: @comments }
      = render partial: 'comments/form', locals: { commentable: @event } if logged_in?
      = render partial: 'shared/login', locals: { message: 'You must be logged in to comment.' } unless logged_in?
- if @notification_subscription.present?
  .notification-removal.row
    .large-12.columns
      %p
      %small
        = link_to 'Unsubscribe', notification_subscription_path(@notification_subscription), method: :delete, confirm: 'Are you sure?'
        from notifications about this event.