%section.events.grid-container
  = render @event

.event-details{ class: @event_owner}
  .grid-container
    = link_to_function "Back", "history.back()", class: 'previous-page grid-10 mobile-grid-20'
    %h2.grid-90.mobile-grid-80
      w/
      = link_to @event.host_name, user_path(@event.host_name)

  %nav.page-links
    - if @event.host != current_user
      - if @event.players.exists?(:id => current_user)
        = link_to "Can't play", user_event_participant_path(@event.host, @event), confirm: 'Are you sure?', method: :delete, class: 'button'
      - else
        = link_to "Join in!", user_event_participants_path(@event.host, @event), method: :post, class: 'button'
    - else
      = link_to "I can't make it! Please cancel.", user_event_path(current_user,@event), confirm: "Are you sure?", method: :delete, class: 'button button-danger'
    = link_to "Promote on Twitter", '', class: 'button button-info hide-on-desktop'
  
  - if @event.description.present?
    %p= @event.description
    
  %section.roster.grid-container
    .grid-50
      %h3 On the Team
      %ul
        - @event.team_players.each do |player|
          %li.host
            = link_to image_tag(player.avatar_url), user_path(player), title: player.username

    .grid-50
      %h3 On the Bench
      %ul
        - @event.bench_players.each do |player|
          %li.host
            = link_to image_tag(player.avatar_url), user_path(player), title: player.username
