%section.events
  = render @event
.event-detail.row{ class: @event_owner}
  .host.span1
    = link_to image_tag(@event.host_avatar_url), user_path(@event.user)
  .span11
    %h2.with
      w/
      %span.host
        = @event.host
    %p= @event.description
    .row
      .span5
        %h3 Joining
        %ul
          - @event.players.each do |player|
            %li= player.user.username

        - if @event.user != current_user
          - if @event.players.exists?(:user_id => current_user)
            = link_to "Can't play", user_event_players_leave_path(@event.user, @event)
          - else
            = link_to "Join the team", user_event_players_join_path(@event.user, @event)

      .span5
        %h3 Pending
        %ul
          - @event.players.each do |player|
            %li= player.user.username