
<div class="row">
  <div class="span12">
    <h2><%= @event.title %></h2>
    <h3>Host:   <%= @event.user.username %></h3>

    <p><%= @event.description %></p>

    <p><%= @event.starts_at %> until <%= @event.starts_at+@event.duration %></p>

  </div>
</div>


<% if @event.players.size >= 0 %>

  <div class="row"></div>
  <h4>Looking for <%= @event.slots %> players <% if @event.slots_filled > 0 %><%= @event.slots_filled %> found.<% end %></h4>

    <% if @event.user == current_user %>
      You are hosting this event!
    <% end %>

  <div class="row">
    <div class="span6">
      <h3>Roster</h3>
      <ul>
        <% @event.players.each do |player| %>
          <li><%= player.user.username %></li>
        <% end %>
      </ul>

      <% if @event.user != current_user %>
        <% if @event.players.exists?(:user_id => current_user) %>
          <%= link_to "Can't play", user_event_players_leave_path(@event.user, @event) %>
        <% else %>
          <%= link_to "Join the team", user_event_players_join_path(@event.user, @event) %>
        <% end %>
      <% end %>

    </div>
    <div class="span6">
      <h3>The Bench</h3>
      <ul>
        <% @event.players.each do |player| %>
          <li><%= player.user.username %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

