%section.events
  = render partial: 'event', locals: { event: @event, new_date: true }
  .event-details.row{ class: @event_owner}
    %nav.large-1.columns.without-padding-large.half-padding-small
      - if @event.host == current_user
        = link_to @event, confirm: "Are you sure?", method: :delete, class: 'button radius expand alert' do
          %i.ss-icon.ss-standard.ss-calendarremove
      - else
        = render partial: 'participate', locals: { event: @event } unless @event.past?
      = render partial: 'tweet', locals: { event: @event }

      - if @event.game
        =link_to game_path(@event.game), class: 'button radius expand', title: 'Game info' do
          %i.block.ss-videogame

    .large-11.columns
      %h2
        %span.with w/
        = link_to @event.host_name, user_path(@event.host_name)

      = markdown_format(@event.description) if @event.description.present?


      %section.roster.row
        .large-6.columns
          %h3#joining Playing
          = render partial: 'player_list', locals: { players: @event.team_players, event: @event }
        .large-6.columns
          %h3#pending Support
          = render partial: 'player_list', locals: { players: @event.bench_players, event: @event } if @event.bench_players.present?
          = content_tag :p, 'Recruit more players if desired' if @event.bench_players.blank?

      = render partial: 'comments/list', locals: { comments: @comments }
      = render partial: 'comments/form', locals: { commentable: @event } if logged_in?
      = render partial: 'shared/login', locals: { message: 'You must be logged in to comment.' } unless logged_in?
- if @notification_subscription.present?
  .notification-removal.row
    .large-11.large-offset-1.columns
      %p
      %small
        = link_to 'Unsubscribe', notification_subscription_path(@notification_subscription), method: :delete, confirm: 'Are you sure?'
        from notifications about this event.