%section.events.grid-container
  = render @event

.event-details{ class: @event_owner}
  .grid-container
    %h2
      w/
      = link_to @event.host_name, user_path(@event.host_name)

    - if @event.description.present?
      %p= @event.description

  - if @event.upcoming?
    %nav.page-links
      - if @event.host != current_user
        - if @event.players.exists?(:id => current_user)
          = link_to "Sorry, I can't make it.", user_event_participant_path(@event.host, @event), confirm: 'Are you sure?', method: :delete, class: 'button'
        - else
          = link_to "I want to join!", user_event_participants_path(@event.host, @event), method: :post, class: 'button'
      - else
        = link_to "Cancel the entire event!", user_event_path(current_user,@event), confirm: "Are you sure?", method: :delete, class: 'button button-danger'
      = link_to "Promote on Twitter", '', class: 'button button-info hide-on-desktop'
  
  %section.roster.grid-container
    .grid-50.mobile-grid-50
      %h3 On the Team
      - if @event.bench_players.present?
        %ul
          - @event.team_players.each do |player|
            %li.host
              = link_to image_tag(player.avatar_url), user_path(player), title: player.username
      - else
        %p 
          Hmmm, no one has joined yet?
          %br
          Why don't you promote this more on
          = link_to "Twitter!", "#"

    .grid-50.mobile-grid-50
      %h3 On the Bench
      - if @event.bench_players.present?
        %ul
          - @event.bench_players.each do |player|
            %li.host
              = link_to image_tag(player.avatar_url), user_path(player), title: player.username
      - else
        %p Awesome! No one is left out warming the bench.