.row.game-detail
  .large-6.columns
    %h2#game-name
      = @game.name
    %p
      = @game.deck.html_safe unless @game.deck.blank?

  .large-6.columns.pull
    / .panel.radius
    #game-cover= image_tag @game.screen_url unless @game.screen_url.blank?
    %ul#game-follow.small-block-grid-2
      %li.text-center
        %h4= @game.followers_count
        %h5 Followers
      %li.text-left
        - if logged_in?
          = link_to 'Follow', game_follows_path(@game), method: :post, class: 'right button small secondary' unless @game.followed_by?(current_user)
          = link_to 'Unfollow', game_follow_path(@game), method: :delete, class: 'right button small secondary' if @game.followed_by?(current_user)
        %h4= @game.events.count
        %h5 Events

.row
  .large-12.columns
    %h3 Upcoming Matches
    - if @upcoming_events.size > 0
      %section.events
        - @upcoming_events.each do |event|
          = render event

    - else
      %p
        No upcoming matches.
        = link_to "Create a match now", new_event_path

