!!!
%html{lang: 'en'}
  %head
    %title= @title.nil? ? "Now Play Us" : @title

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: "description", content: "" }
    %meta{ name: "author", content: "" }

    = stylesheet_link_tag "application", 'http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900'
    = javascript_include_tag "application"
    = csrf_meta_tags

    /[if lt IE 9]
      %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    /[if lt IE 8]

    = render partial: 'shared/favicons'
  %body

    %header
      = render partial: 'shared/navigation'

    #main.wrapper{ rel: 'main' }
      = render partial: 'shared/flash_messages'
      = yield

    %footer
      .wrapper.grid-container
        %p.grid-50
          &copy; 2013, NowPlay.us
        %p.grid-50.about
          An experiemental service from
          %a{ href: "http://madgloryint.com" } MadGlory Interactive
      = render partial: "shared/analytics"
