!!!
%html{ lang:'en' }
  %head
    %title= @title.nil? ? "Now Play Us" : "Now Play Us - #{@title}"
    = render partial: 'shared/meta'
    = stylesheet_link_tag "application", 'http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900'
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags

    = render partial: 'shared/favicons'
  %body
    = render partial: 'shared/navigation'
    %section#main
      = render partial: 'shared/flash_messages'
      = yield
      #push
    %footer#footer
      .row
        .large-12.columns
          %p
            &copy;
            = Date.current.year
            Now Play Us. Follow us on 
            = link_to content_tag('strong','Twitter'), 'https://twitter.com/nowplayus'
            &amp; like us on 
            = link_to content_tag('strong','Facebook'), 'https://www.facebook.com/NowPlayUs'
          %p
            An experimental service from
            = link_to content_tag('strong','MadGlory Interactive'), 'http://madgloryint.com'
          %p
            Game information provided by 
            = link_to 'Giant Bomb', 'http://www.giantbomb.com', target: '_blank'
    = render partial: "shared/analytics"
    = javascript_include_tag "application"  