!!!
%html{lang: 'en'}
  %head
    %title= @title.nil? ? "Now Play Us" : @title

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: "description", content: "" }
    %meta{ name: "author", content: "" }

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

    /[if lt IE 9]
      %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    /[if lt IE 8]

    / Fav and touch icons
    %link{ rel: "apple-touch-icon-precomposed", sizes: "144x144", href: "../assets/ico/apple-touch-icon-144-precomposed.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "../assets/ico/apple-touch-icon-114-precomposed.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "../assets/ico/apple-touch-icon-72-precomposed.png" }
    %link{ rel: "apple-touch-icon-precomposed", href: "../assets/ico/apple-touch-icon-57-precomposed.png" }
    %link{ rel: "shortcut icon", href: "../assets/ico/favicon.png" }
    %link{ href: 'http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900', rel: 'stylesheet', type: 'text/css' }
  %body

    %header
      %nav.wrapper.grid-container
        = link_to 'NowPlay.us', root_url, id: 'logo', class: 'grid-33'
        %ul#main-menu.grid-66
          - if current_user
            %li= link_to "My Events", user_events_path(current_user)
            %li= link_to "Add Event", new_user_event_path(current_user)
            %li= link_to "Edit Profile", edit_user_path(current_user.id)
          - if current_user
            %li= link_to "Logout", :logout, class: 'navbar-link'
          - else
            %li= link_to 'Login with Twitter', auth_at_provider_path(provider: :twitter), class: 'navbar-link'
          

    - if current_page?(root_path)
      #banner
        .wrapper.grid-container
          %h2 Why play games with yourself... </br>when you can <span class="highlight">play</span> with us

    #main.wrapper{ rel: 'main' }
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert alert-#{name == :notice ? 'success' : 'error'}", data: { dismiss: 'alert' } if msg.is_a?(String)
      = yield

    %footer
      .wrapper.grid-container
        %p &copy; 2013, NowPlay.us
        %p
          A social experiement of
          %a{ href: "http://madgloryint.com" } MadGlory Interactive
      = render partial: "shared/analytics"
