!!!
%html{ lang:'en' }
  %head
    = render partial: 'shared/meta'
    %title= @title.nil? ? "Now Play Us" : "Now Play Us - #{@title}"
    = stylesheet_link_tag "application", 'http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900'
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags

    = render partial: 'shared/favicons'
  %body
    = render partial: 'shared/bar'
    = render partial: 'shared/navigation'
    %section#main
      = render partial: 'shared/flash_messages' if flash.present?
      = yield
    %footer#footer
      = render partial: 'shared/footer'
    = render partial: "shared/analytics"
    = render partial: "shared/uservoice"
    = javascript_include_tag "application"
    = yield :modals
