!!!
%html{lang: 'en'}
  %head
    %title= @title.nil? ? "Now Play Us" : @title

    = render partial: 'shared/meta'

    = stylesheet_link_tag "application", 'http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900'
    = javascript_include_tag "application"
    = csrf_meta_tags

    /[if lt IE 9]
      %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    /[if lt IE 8]

    = render partial: 'shared/favicons'
  %body

    %header
      = render partial: 'shared/navigation'

    #banner
      .wrapper.grid-container
        %h2
          Why play games by yourself...
          %br
          when you can
          %span.highlight play
          with us

        %fieldset.callout
          = link_to 'Play Now', '/auth/twitter', class: 'callout-button twitter'
          -#= link_to 'Play Now', '/auth/facebook', class: 'callout-button facebook'

    #main.wrapper{ rel: 'main' }
      = render partial: 'shared/flash_messages'
      = yield

    %footer
      .wrapper.grid-container
        %p &copy; 2013, NowPlay.us
        %p
          A social experiement of
          = link_to 'MadGlory Interactive', 'http://madgloryint.com'
      = render partial: "shared/analytics"
